
@keyframes canvasAnimation {
	0%{
		transform: translateX(0%);
	}
	50%{
		transform: translateX(100%);
	}
	100%{
		transform: translateX(0%);
	}
}

.siteView {
	padding: 16px 100px;
	z-index:10;
}

.descHeader {
	font-size: 1.6rem;
	text-align: center;
	margin-top: 100px;
	
}

.font_look{
	font-family: 'Times New Roman';
	font-size: 21px;
}
.font_look1 {
	font-family: 'Times New Roman';
	font-size: 18px;
	line-height: 28px;
}
.baner_Tys {
	max-width: 100%;
	height: auto;
	text-align: center;
	background-size: contain;
	width:auto;
}


.leftText {
	margin-left: 15px;
	padding: 10px;
	font-family: 'Times New Roman';
	font-size: 18px;
	flex-grow: 1;
	margin-left: 15vw;
	text-align: right;
}

.rightText {
	font-family: 'Times New Roman';
	font-size: 18px;
	flex-grow: 1;
	margin-right: 15vw;
	padding: 10px;
}

.textWarka{
	font-family: 'Garamond';
	font-size: 20px;
	text-align: center;
	padding: 10px;
}

.bTys{
	width: 110px;
	height: 40px;
	transform: translate(550%);
	background-color: #c5de43;
	cursor: pointer;
}

.tab {
	background-color:aliceblue;
	margin-bottom: 30px;
	z-index: 1;
	border-collapse: collapse;
}
.prom{
	font-family: 'Times New Roman';
	width: 50px;
}
thead {
	background-color: #36304a;
	color:antiquewhite; border:1px;
}
tbody tr{
	border: 1px solid;
}
tbody td {
	background: rgb(226,204,55);
	background: linear-gradient(349deg, rgba(226,204,55,1) 9%, rgba(180,200,35,1) 39%, rgba(186,231,31,0.5214286398153012) 72%);
	opacity: 0.65;
}
tbody td:hover{
	background-color:#200ab2;
	opacity: 1.5;
	color: #d506b8;
}
.wolny1 {
	font-family: 'Times New Roman', Times, serif;
}
.zaj�ty {
	font-family: 'Times New Roman';
	background: rgb(31,161,187);
	background: linear-gradient(90deg, rgba(31,161,187,1) 3%, rgba(203,70,70,1) 22%, rgba(212,29,37,1) 57%, rgba(2,0,36,1) 91%);
}
.zajety:hover{
	color:#3ad328;
}
.tabBg{
	background-size:cover;
	width:100%;
	height:100%;
	position: fixed;
	opacity: 0.65;
}

.label1{
	width: 120px;
	display: inline-block;
}
input {
	background-color: #e4e9eb;
}

.formtext {
	font-weight: 900;
	font-size: 2.5em;
	color: #877633;
}
.fakt1{
	text-align: center;
	font-family: 1.6rem;
}

.fakt,
.mit,
.czescpr {
	margin-top: 80px;
	font-family: 'Times New Roman';
	font-size: 1.3rem;
	padding: 10px 25px;
	border-radius: 100px;
	display: inline-flex;
	justify-content: center;
	min-width: 192px;
}
.fakt{
	background-color: #0a9f63;
}
.czescpr{
	background-color: #F0AB00;
}
.mit {
	background-color: #bd1313;
}
input{
    margin-bottom: 10px;
}

.siteView--marki{
	background: url('../img/tab-bg.jpg') no-repeat;
	background-size: cover;
	align-items: stretch;	
}
.siteView--marki .tab{
	width: 100%;
}

.siteView--kontakt{
	padding: 16px 0;
}
.siteView--kontakt {
	background: url('../img/bg-formularz.jpg') no-repeat;
	background-size: cover;
	align-items: stretch;
	opacity: 0.90;
}

.siteView--kontakt .canvasImg {
	animation: 5s cubic-bezier(.44,1.33,.55,-0.49) infinite canvasAnimation;
}

.calc{
	width: 550px;
	background-color: aliceblue;
	z-index: 1;
	position: relative;
	border-block: groove;
	padding: 2px;
	align-self: center;
}

.calc__title{
	text-align: center; 
	font-family: 'Times New Roman'; 
	font-size: 30px;
	font-weight: 700;
}

.calc__contentContainer{
	padding: 16px;
}

.calc .calc__result,
.calc .calc__fields{
	width: 50%;
}


.calc form button{
	width: 160px;
	margin: auto;
}

.calc__result{
	font-size: 60px;
}

.calc__result div{
	display: inline-flex;
}

.calc__result span{
	font-family: 'Times New Roman'; 
}

