@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?v8vgex');
  src:  url('fonts/icomoon.eot?v8vgex#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?v8vgex') format('truetype'),
    url('fonts/icomoon.woff?v8vgex') format('woff'),
    url('fonts/icomoon.svg?v8vgex#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-up:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-phone:before {
  content: "\e942";
}
.icon-location:before {
  content: "\e947";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
